<h3>Ciudades preferidas:</h3>
<div class="card" *ngIf="favouritesCities">
    <div class="card-body horizontal-scroll-wrapper">
        <mat-selection-list #citiesList [multiple]="false" [(ngModel)]="selectedCity" (ngModelChange)="cityChanged($event)">
            <mat-list-option *ngFor="let city of favouritesCities" [value]="city.id">
                <div >
                    {{city.name}}
                    <button mat-icon-button color="warn" class="icon-trash" (click)="deleteFavourite(city)">
                        <mat-icon>delete_forever</mat-icon>
                    </button>    
                </div>
            </mat-list-option>
        </mat-selection-list>
    </div>
</div>